.__json-pretty__ {
  line-height: 1.3;
  color: #f8f8f2;
  background: #0f172a;
  overflow: auto;
}
.__json-pretty__ .__json-key__ {
  color: #2dd4bf;
}
.__json-pretty__ .__json-value__ {
  color: rgb(147 51 234);
}
.__json-pretty__ .__json-string__ {
  color: #e9fdac;
}
.__json-pretty__ .__json-boolean__ {
  color: rgb(74 222 128);
}
.__json-pretty-error__ {
  line-height: 1.3;
  color: #f8f8f2;
  background: #1e1e1e;
  overflow: auto;
}
